@mobile: ~'only screen and (min-width: 496px)';
@mobile-extended: ~'only screen and (min-width: 600px)';
@tablet: ~'only screen and (min-width: 680px)';
@tablet-extended: ~'only screen and (min-width: 830px)';
@large-tablet: ~'only screen and (min-width: 960px)';
@small-desktop: ~'only screen and (min-width: 1080px)';
@desktop: ~'only screen and (min-width: 1280px)';
@desktop-extended: ~'only screen and (min-width: 1480px)';
@large-desktop: ~'only screen and (min-width: 1600px)';
@large-screens: ~'only screen and (min-width: 1920px)';
