@import 'fonts';
@import 'breakpoints';

/* Curtie Cares Brand Colors */

@plum: #4a2445;
@gold: #c7a865;
@teal: #59c1da;
@rust: #b95f2d;
@gray: #717276;
@text: #343434;

@background: #EFF0F4;
@neutral-background: #F7F0DD;
@error: #f44336;
@success: #64DD17;

@visited-link: #3E8898;

html {
    height: 100%;
}

body {
    .brand-sans-serif();
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    -webkit-flex: 1 0;
    flex: 1 0 auto;
}

h1 {
  .black();
  font-size: 2.5rem;
  text-transform: uppercase;

    @media @mobile {
        font-size: 3rem;
    }
}

h2 {
  .black();
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
    .black();
    font-size: 1.75rem;
    text-align: center;
    margin-top: 2.5rem;
    text-transform: uppercase;
    color: @plum;

    @media @tablet {
        font-size: 2rem;
    }

    @media @desktop {
        font-size: 2.25rem;
    }
}

p {
    font-size: 1.2rem;
}

a {
  color: @plum;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:visited {
    color: @visited-link;
  }
}

.cta-link {
  padding: 0.5rem 1rem;
  background-color: @plum;
  color: white;
  .medium();
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin: auto;
  text-align: center;
  width: max-content;
  font-size: 1rem;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:visited {
    color: white;
  }

  &.left {
    margin: 0;
  }
}

.container {
  max-width: 80rem;
  margin: auto;
  padding: 1rem 2rem;

  @media @tablet {
    padding: 2rem;
  }

  @media @desktop {
    max-width: 75rem;
  }

  @media @large-desktop {
    max-width: 96rem;
  }
}

.screen-reader {
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0;
}

.cc {
    .bold();
    color: @plum;
    text-transform: uppercase;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
  height: 1.5rem;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #000000;
}

.mat-raised-button {
    width: fit-content;
    text-transform: uppercase;
}



