/* Fonts */
@import url("https://use.typekit.net/qdl4mlq.css");

.brand-sans-serif() {
    font-family: 'Roboto', sans-serif;
    font-display: auto;
}

.brand-script() {
    font-family: 'liebegerda', sans-serif;
    font-weight: 400;
    font-display: auto;
}

.light() {
    font-weight: 300;
}

.regular() {
    font-weight: 400;
}

.medium() {
    font-weight: 500;
}

.bold() {
    font-weight: 700;
}

.black() {
    font-weight: 900;
}
