/* You can add global styles to this file, and also import other style files */
@import 'common';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-menu-panel {
    margin-top: 0.75rem;
}

.mat-menu-content {
    .mat-menu-item {
        color: rgba(0,0,0,.87);
        
        &:visited {
            color: rgba(0,0,0,.87);
        }
    }
}