<div class="volunteer-hero">
  <div class="container">
    <h1>Volunteer Opportunities</h1>
    <h2>WE NEED HELP!!!</h2>
    <p>If you are interested in driving for Curtie Cares,
      fill out the form below or call <a href="tel:715-568-2211">715-568-2211</a>.
      We currently have an AWD SUV and a van with a wheelchair lift.</p>
    <p class="large">Volunteers can also get permission to use their own vehicles. Speak with Curtie for details.</p>
  </div>
</div>

<div *ngIf="error && submitted && volunteerForm.valid" class="container">
  <div class="message error" #message tabindex="0">
    <i class="material-icons">error</i>
    <p>{{error}}</p>
  </div>
</div>
<div *ngIf="!error && submitted && volunteerForm.valid || submitted && honeypot" class="container">
  <div class="message success" #message tabindex="0">
    <i class="material-icons">check_circle</i>
    <p>Success! Someone will reach out to you about volunteering.</p>
  </div>
  <a class="return" routerLink="/">Return to home</a>
</div>
<div class="container volunteer-form" *ngIf="!submitted || (submitted && error)">
  <p style="padding-bottom: 1rem">Fill out the volunteer form below and someone will contact you.</p>
  <form class="mat-elevation-z8" [formGroup]="volunteerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input name="name" matInput placeholder="First and last name" formControlName="name" required>
      <mat-error *ngIf="volunteerForm.get('name').invalid">{{nameValidationMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone:</mat-label>
      <input name="phone" matInput placeholder="Phone number" formControlName="phone" required>
      <mat-error *ngIf="volunteerForm.get('phone').invalid">{{phoneValidationMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input matInput placeholder="Enter your email" formControlName="email" required>
      <mat-error *ngIf="volunteerForm.get('email').invalid">{{emailValidationMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="secondary-email" aria-hidden="true">
      <mat-label>Email:</mat-label>
      <input name="secondary" matInput placeholder="Enter your email" formControlName="secondary">
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Submit</button>
  </form>
</div>
