<div class="container">
  <h1>Photos</h1>
  <p>Find more photos on our <a href="https://www.facebook.com/Curtie-Cares-Bringing-hope-to-the-homebound-378757329329446/" target="_blank">Facebook page</a>!</p>
</div>
<div class="container">
  <div class="gallery">
    <img class="gallery-img--1" src="/assets/A1-mobility.jpg" alt="Curtie Cares van parked outside A1 Mobility." />
    <img class="gallery-img--2" src="/assets/chipp-co-run.jpg" alt="Curtie Cares van parked outside government facility." />
    <img class="gallery-img--3" src="/assets/leinies.jpg" alt="Curtie Cares car and van parked outside of Leinenkugel's Brewery." />
    <img class="gallery-img--4" src="/assets/luther-hospital.jpg" alt="Curtie Cares car parked outside Mayo Hospital." />
    <img class="gallery-img--5" src="/assets/mayo.jpg" alt="Curtie Cares car parked outside Mayo Clinic." />
    <img class="gallery-img--6" src="/assets/napa.jpg" alt="Curtie Cares car parked outside NAPA Auto Parts in Bloomer." />
    <img class="gallery-img--7" src="/assets/shear-style.jpg" alt="Curtie Cares car parked outside Shear Style salon in Bloomer." />
    <img class="gallery-img--8" src="/assets/van_christmas.jpg" alt="Curtie Cares van parked at the park in Bloomer with the Christmas lights display." />
    <img class="gallery-img--9" src="/assets/van_inside_holiday.jpg" alt="Curtie Cares van decorated inside for Christmas with Christmas lights." />
    <img class="gallery-img--10" src="/assets/posing-by-van-1.jpg" alt="A driver poses in front of the Curtie Cares van with a patron." />
    <img class="gallery-img--11" src="/assets/posing-by-van-2.jpg" alt="A driver poses in front of the Curtie Cares van with a patron." />
    <img class="gallery-img--12" src="/assets/van-kwik-trip.jpg" alt="Curtie Cares van at Kwik Trip." />
    <img class="gallery-img--13" src="/assets/sign.jpg" alt="Curtie Cares sign." />
  </div>
</div>
