.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(18, 5vw);
  grid-gap: 15px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery-img--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery-img--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery-img--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery-img--4 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery-img--5 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 8;
}

.gallery-img--6 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 19;
  grid-row-end: 14;
}

.gallery-img--7 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 10;
}

.gallery-img--8 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 10;
}

.gallery-img--9 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 19;
  grid-row-end: 16;
}

.gallery-img--10 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery-img--11 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 14;
  grid-row-end: 10;
}

.gallery-img--12 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 16;
  grid-row-end: 10;
}

.gallery-img--13 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 19;
  grid-row-end: 16;
}
