@import '../../common';

footer {
  background-color: @plum;
  padding: 1rem;
  color: white;
  text-align: center;

  small {
    display: inline-block;
    margin: 0 0.5rem;
  }

  a {
    color: white;

    &:visited {
      color: white;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
