<footer>
  <small>Copyright&copy; {{currentYear}} Curtie Cares, Inc.</small>
  <small>P.O. Box 135, Bloomer, WI 54724</small>
  <small>Website created by <a href="http://emilymikl.dev/" target="_blank">Emily Mikl</a></small>
</footer>
