@import '../../common';

.mobile-hero {
	width: 100%;
	margin-bottom: -0.5rem;

	@media @tablet {
		display: none;
	}

    &.tablet {
        display: none;

        @media @tablet {
            display: block;
        }

        @media @desktop {
            display: none;
        }
    }
}

.home-hero {
	position: relative;

	img {
		display: none;
		position: absolute;
		bottom: -0.75rem;
		left: 0;
		height: 103%;
        top: 0;
		width: auto;

		@media @desktop {
			display: block;
        }

        @media @desktop-extended {
            left: 3rem;
        }
	}

	@media @desktop {
        background: url('/assets/car-hero-1366px.jpg') no-repeat;
        background-size: cover;
        background-position: 0 0;
        height: 29.5rem;
	}

    @media @desktop-extended {
        background: url('/assets/car-hero-1920px.jpg') no-repeat;
        background-size: cover;
        background-position: 5rem -3rem;
        max-width: 1600px;
        margin: auto;
        height: 30rem;
    }

    @media @large-desktop {
        height: 33rem;
        max-width: 1900px;
    }

    @media @large-screens {
        height: 36rem;
        background-position: 3.5rem -3rem;
    }
}

.home-heading {
	margin: 1.5rem auto 3rem;

	img {
		width: 80%;
		display: block;
        margin: auto;

        @media @mobile {
          width: 70%;
        }

        @media @tablet {
            width: 50%;
        }
	}

	@media @desktop {
		display: none;
	}
}

.phone {
    padding: 2rem 1rem;
    color: @plum;
    border-top: 10px solid @plum;
    margin-bottom: 2rem;

    @media @mobile-extended {
        padding: 2rem;
    }

    @media @tablet {
        margin-bottom: 3rem;
    }

    @media @tablet-extended {
        padding: 3rem 3rem 3rem;
    }

	h1 {
        .regular();
        text-align: center;
        max-width: 1280px;
        margin: auto;
        font-size: 2rem;

        @media @tablet-extended {
            font-size: 2.5rem;
        }

        @media @desktop {
            font-size: 3rem;
        }

        span {
            .black();
            display: block;

            a {
                display: block;
                color: @plum;

                &:hover,
                &:focus {
                    color: @plum;
                }

                @media @mobile-extended {
                    display: inline;
                }

                @media @desktop {
                    text-decoration: none;
                }
            }
        }
	}
}

.feature {
  max-width: 96rem;
  margin: 4rem auto;
  padding: 1rem;

  @media @tablet-extended {
    margin-bottom: 0;
  }

  .background {
    background-color: @background;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;

    h2 {
      margin-bottom: 0;

      @media @large-tablet {
        margin-bottom: auto;
      }
    }

    p {
      .light();
      text-align: center;
      font-size: 1.25rem;
      max-width: 90%;

      @media @desktop {
        font-size: 1.65rem;
      }
    }

    @media @large-tablet {
      flex-direction: row;
    }
  }

  .flex-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 90%;
    margin: auto auto 3rem;
    max-width: 35rem;

    @media @tablet-extended {
      margin: auto;
    }
  }
}

.midsection {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    max-width: 1280px;
    margin: auto;
    padding: 1rem;

    @media @large-tablet {
        flex-direction: row;
        -webkit-flex-direction: row;
    }

    .tile {
        background-color: @background;
        width: 90%;
        margin: 1rem auto;
        border-radius: 6px;
        position: relative;

        &.serve {
          margin-bottom: 4rem;
          @media @large-tablet {
            width: 45%;
            margin-bottom: 1rem;
          }
        }

        &.vehicle {
          margin-bottom: 2rem;
          @media @large-tablet {
            width: 45%;
            margin-bottom: 1rem;
          }
        }

        .tile-content {
            padding: 1rem 1rem 2rem;

            &:last-child {
              padding-bottom: 1rem;
            }

            @media @tablet {
                padding: 2.5rem;
            }

            p {
                .light();
                text-align: center;
                font-size: 1.15rem;
                max-width: 75%;
                margin: auto auto 1rem;

                @media @tablet {
                    font-size: 1.25rem;
                }

                @media @desktop {
                    font-size: 1.65rem;
                }
            }

            ul {
                .light();
                width: 60%;
                margin: auto;
                font-size: 1.25rem;

                @media @tablet {
                    font-size: 1.45rem;
                    width: 100%;
                }

                @media @tablet-extended {
                    width: 70%;
                }

                @media @small-desktop {
                    width: 60%;
                }

                @media @desktop {
                    font-size: 1.65rem;
                    width: 50%;
                }
            }
        }
    }
}

.heart-and-hands,
.wheelchair {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: 5px solid @plum;
    background-color: white;
    padding: 1rem;
    margin: -3.5rem auto 0;

    img {
        width: 100%;
    }

    @media @tablet {
        width: 5rem;
        height: 5rem;
        margin: -6rem auto 0;
    }
}

.founder-background {
    background-color: @neutral-background;
    padding: 1rem;

    @media @tablet {
        margin-top: 4rem;
    }
}

.founder {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    max-width: 80rem;
    margin: auto;
    padding: 1rem;

    @media @tablet-extended {
        flex-direction: row;
        -webkit-flex-direction: row;
    }

    @media @tablet-extended {
      max-width: 54rem;
    }

    @media @large-desktop {
      max-width: 60rem;
    }

    div {
        &.photo-div {
            @media @tablet {
                width: 50%;
                margin: auto;
            }

            @media @tablet-extended {
                margin-right: 1rem;
            }
        }

        @media @tablet-extended {
            width: 52%;
            margin: 1rem;
        }
    }

    h3 {
        margin: 1rem;

        @media @tablet-extended {
            margin: 0;
            text-align: left;
        }
    }

    img {
        width: 90%;
        display: block;
        margin: auto;

        @media @mobile {
            width: 65%;
        }

        @media @mobile-extended {
            width: 55%;
        }

        @media @tablet {
            width: 100%;
        }
    }

    .cta-link {
        @media @tablet-extended {
            margin: 0;
        }
    }
}

.sponsors-container {
    margin-bottom: 5rem;
}

.sponsors-heading {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
}

.sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media @tablet {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media @desktop-extended {
        margin: 3rem auto;
        max-width: 1280px;
    }

    @media @large-screens {
        max-width: 1800px;
    }

    a {
        width: 100%;
        margin: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        @media @tablet {
            flex-basis: 42%;
            margin: auto;
        }

        @media @desktop-extended {
            flex-basis: 35%;
        }

        img {
            width: 100%;

            &.wrap-guys {
                width: 75%;
            }
        }
    }
}

.donations {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.donate-link {
    display: flex;
    align-items: center;
    background-color: @plum;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    padding: 2rem;

    &:visited {
        color: #fff;
    }

    &:hover {
        background-color: @gold;
    }

    img {
        max-width: 3rem;
        height: auto;
        margin-right: 0.5rem;
    }
}

.feature-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  padding: 2rem;

  img {
    width: 100%;
    max-width: 1280px;
    margin: auto;
  }
}

.fe-section {
  background-color: @plum;
  color: white;
  padding: 2rem;

  .container {
    text-align: center;
  }

  a {
    font-size: 1.5rem;
    color: white;

    @media @tablet-extended {
      font-size: 2.5rem;
    }
  }

  p {
    font-size: 1.5rem;
    color: white;

    @media @tablet-extended {
      font-size: 2.5rem;
    }
  }

  .fe-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    @media @desktop {
      flex-direction: row
    }

    .left {
      width: 100%;

      @media @desktop {
        width: 50%;
        padding-right: 1rem;
      }
    }

    .right {
      width: 100%;
      @media @desktop {
        width: 50%;
        padding-left: 1rem;
      }
    }
  }

  .supporting {
    font-size: 3rem;
  }

  .cc {
    color: white;
  }

  img {
    width: 100%;
    margin: auto;
  }
}
