<!--The content below is only a placeholder and can be replaced.-->
<div fxFlexFill fxLayout="column">
    <app-header></app-header>
        <main>
            <router-outlet></router-outlet>
        </main>
    <app-footer></app-footer>
</div>
