@import '../../common';

.contact {
    padding-bottom: 0;
}

.return {
    display: inline-block;
    margin-top: 1rem;
    
    &:visited {
        color: @plum;
    }
}

.contact-us {
    form {
        display: flex;
        flex-direction: column;
        max-width: 30rem;
        padding: 2rem;

        mat-form-field {
          margin-bottom: 1rem;
        }

        textarea {
            min-height: 10rem;
        }
    }

    .secondary-email {
      display: none;
      visibility: hidden;
    }
}

.message {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    max-width: 32rem;

    &.error {
        background-color: @error;
        color: white;
    }

    &.success {
        border: 3px solid @success;
        border-radius: 5px;

        i {
            color: @success;
        }
    }

    i {
        margin-right: 0.5rem;
        font-size: 2rem;
    }
}
