@import '../../common.less';

.donate-heading {
    .container {
        padding-top: 3rem;
    }
}

.curt-van {
    width: 100%;
    display: block;
    margin: auto;

    @media @large-tablet {
        width: 80%;
    }

    @media @desktop {
        width: 50%;
        margin: 0;
    }
}

.donate-online {
    display: flex;
    flex-wrap: wrap;

    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 0 100%;
        margin: 1.5rem;

        @media @tablet {
            flex: 1 0 30%;
        }

        img {
            width: 100%;
            height: auto;
            max-width: 25rem;
        }
    }
}
