@import '../../common';

header {
    height: 4rem;
    background-color: @plum;
    padding: 0.5rem 0;
}

.header-container {
    max-width: 80rem;
    margin: auto;
    height: 100%;
    position: relative;
    padding: 0.5rem 0;

    @media @mobile-extended {
        padding: 0.5rem 2rem;
    }

    @media @large-desktop {
        max-width: 100rem;
    }
}

.home-logo {
    display: block;
    width: 7rem;
    position: absolute;
    left: 0.5rem;
    top: 0.15rem;
    z-index: 2;

    img {
        width: 100%;
        border: 1px solid @plum;
    }

    @media @mobile {
        width: 10rem;
        left: 2rem;
        top: -0.5rem;
    }
}

nav {

    i {
        color: white;
        font-size: 2.5rem;
    }

    button {
        background-color: transparent;
        border: 0;
    }

    &.mobile {
        margin: 0 0.5rem 0;
        @media @tablet-extended {
            //display: none !important;
        }
    }

    &.desktop {
        //display: none;

        @media @tablet-extended {
            //display: flex;
            margin-left: 12rem;
        }

        ul {
            padding-left: 0;

            li {
            list-style: none;

            a {
                .medium();
                display: block;
                color: white;
                text-transform: uppercase;

                &:hover,
                &:focus {
                    background-color: @gold;
                    color: @plum;
                }
            }
        }
        }
    }
}

.mat-menu-item {
    font-size: 1rem;
}

.donate-link {
    .medium();
    display: flex;
    padding: 0.5rem;
    background-color: white;
    color: @plum;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: auto;
    align-items: center;

    &:hover,
    &:focus {
        background-color: @gold;
    }

    &:visited {
      color: @plum;
    }

    img {
        width: 26px;
        height: auto;
        margin-right: 0.5rem;
    }

    @media @large-tablet {
        margin-left: 2rem;
    }
}

.facebook {
    height: 100%;
    margin-left: auto;

    img {
        height: 100%;
    }
}
