<div class="about-hero">
    <div class="container">
        <h1>About Curtie Cares</h1>
    </div>
</div>
<div class="container">
    <img class="curt-hospital" src="/assets/curt-and-francis.png" alt="Photo of Curt Harrison holding his dog Frances.">
    <p>On the night of July 2, 2018, Curt "Curtie" Harrison was out riding his motorcyle when a deer jumped out in front of him. He spent 13 days in the hospital, and had a long recovery. It was during this recovery period that Curtie realized he wanted to help people in the same situation he was in. He decided to start his new non-profit organization, <span class="cc">Curtie Cares</span>.</p>
    <p>Through <span class="cc">Curtie Cares</span>, Curtie offers help and hope to the homebound by giving them rides, running errands for them, or really whatever they need - at <strong>NO COST</strong> to the participants. Through his own experience, Curtie has learned that people don't always ask for help when they need it&mdash;including himself.</p>
    <p>Curtie hopes that through <span class="cc">Curtie Cares</span>, those who are homebound or disabled will find they are not alone, and will ask for the help they need and deserve.</p>
</div>
<div class="help container">
    <h2>How you can help</h2>
    <p>When <span class="cc">Curtie Cares</span> began, Curtie and his wife, Julie Rae, were providing rides when they had time between their full-time jobs. Now, the team at Curtie Cares is 20+ volunteer drivers strong!</p>
    <p>Your generous donations go to cover gasoline and the expense of travel.</p>
    <div class="donate-link-wrapper">
        <a class="donate-link" routerLink="/donate"><img src="/assets/heart-white.png" alt="Heart icon">Donate Today!</a>
    </div>
</div>
