@import '../../common';

.about-hero {
  background: url('/assets/hope-heading.jpg') no-repeat;
  background-size: cover;
  height: 15rem;

  @media @large-tablet {
    background-position: 0 -3rem;
    height: 25rem;
  }

  @media @desktop-extended {
    height: 30rem;
  }

  @media @large-screens {
      background: url('/assets/hope-heading-large.jpg') no-repeat;
      background-size: cover;
      background-position: 0 -11rem;
  }

  h1 {
    color: white;
    margin-top: 3rem;

    @media @mobile {
      margin-top: 4rem;
    }

    @media @large-tablet {
      margin-top: 9rem;
    }

    @media @desktop-extended {
      margin-top: 11rem;
    }
  }
}

.help {
  h2 {
    margin: 0;
  }
}

.donate-link-wrapper {
  display: flex;
  justify-content: center;
}

.curt-hospital {
    border: 4px solid white;
    display: block;
    margin: auto;
    width: 100%;
    
    @media @tablet {
        width: 80%;
    }
    
    @media @large-tablet {
        float: right;
        margin-top: -6rem;
        width: 45%;
        margin-left: 3rem;
    }
}

.donate-link {
  display: flex;
  align-items: center;
  background-color: @plum;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem;

  &:visited {
      color: #fff;
  }

  &:hover {
      background-color: @gold;
  }

  img {
      max-width: 2rem;
      height: auto;
      margin-right: 0.5rem;
  }
}
