.faq-heading {
    .container {
        padding-top: 3rem;
    }
}

.faqs {
    padding-top: 0;
    
    p {
        padding-bottom: 2rem;
        border-bottom: 1px solid #bbbbbb;
        
        &:last-of-type {
            border-bottom: 0;
        }
    }
}